
body{
    background-image: url('/static/components/homepage_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
      

.maindiv {
    background-color: rgba(255, 255, 255, 0.35);
    background-position: center;
    /* margin: 20px; */
    color: #000000; 
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.predictdiv {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 50px;
    color: #000000; 
    border-radius: 10px;
    width: 90%;
}

.bottom-container {
    background-color: rgba(255, 255, 255, 0.35);
    color: #000000; 
    border-radius: 10px;
    /* width:95% ; */
    padding: 20px;
}